<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Vijay_ScrollToTop>
            <version>1.0.0</version>
        </Vijay_ScrollToTop>
    </modules>
    <global>
        <blocks>
            <vijay_scrolltotop>
                <class>Vijay_ScrollToTop_Block</class>
            </vijay_scrolltotop>
            <vijay_scrolltotop_adminhtml>
                <class>vijay_ScrollToTop_Block_Adminhtml</class>
            </vijay_scrolltotop_adminhtml>
        </blocks>
        <helpers>
            <vijay_scrolltotop>
                <class>Vijay_ScrollToTop_Helper</class>
            </vijay_scrolltotop>
        </helpers>
        <models>
            <vijay_scrolltotop>
                <class>Vijay_ScrollToTop_Model</class>
            </vijay_scrolltotop>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <vijay_scrolltotop>
                    <file>vijay/scrolltotop.xml</file>
                </vijay_scrolltotop>
            </updates>
        </layout>
    </frontend>
    <default>
        <vijay_scrolltotop>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <frontend>
                <color>#f49c14</color>
                <position>right</position>
            </frontend>
            <display_on>
                <all>1</all>
            </display_on>
        </vijay_scrolltotop>
    </default>
</config>
